.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 15px 20px;
  text-decoration: none;
  font-size: 20px;
  font-family: Georgia;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #ffa31a;
  color: white;
}
h1  {
	text-align: center;
	color: white;
	border: 10px solid white;
    }
#pag1	{
		font-family: verdana;
		background:red;
		border:10px solid firebrick;
	}
#pag2   {
		font-family: verdana;
		background: yellow;
		border:10px solid olive;
    }
#pag3   {
		font-family: verdana;
		background: green;
		border:10px solid forestgreen; 
    }
#pag4   {
		font-family: verdana;
		background: blue;
		border:10px solid skyblue;
}
body {
	background-image: url(https://wallpapercave.com/wp/wp2757953.gif);
}
table, th, td
		{
		border: 2px solid;
		border-collapse: collapse;
		border-color: white;

} 
		
th		{
	text-align: center;
	color: dark orange;
	font size: 100%;

}

td 		{text-align: center;
	color: white;

} 

table{
	margin-left: auto;
	margin-right: auto;
}

img {
	width: 100px;
	height: 100px;
}
img:hover{
	width: 200px;
	height: 200px;
}
#body1
{
	background-image: url(https://media0.giphy.com/media/WWNObA6zP3wNZBYWlU/giphy.gif);
}
#body2{
	background-image: url(https://wallpaper.dog/large/17167820.gif);
}
#body3{
	background-image: url(https://cdn.wallpapersafari.com/83/44/FOnoH8.gif);
}
img {
	width: 250px;
	height: 250px;
}
h2 {
	text-align: center;
	color: white;
}